@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand_Bold.otf') format('opentype')
}
@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf') format('truetype')
}
.wrapper{
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    background-color: #5F3D32;
}

/*nav{
    background-color: #5F3D32;
    color: #FFEED9;
    width: 300px;
}*/
.heroImg {
    background-image: url('images/hero.png');
    background-repeat: no-repeat;
    height: 800px;

}


nav {
    display: flex;
    justify-content: space-between;

}

.nav {
    margin-top: 2vh;
    padding: 1vw 1vw;
    font-size: 20pt;
    font-family: 'Poppins';
    font-weight: bold;
    color: #FFEED9;
}

.navContainer {
    display: flex;
    justify-content: space-between;

}

.title {
    align-items: center;
    text-align: center;
    font-size: 70pt;
    color: #ECBA7F;
    margin-top: 17vh;
}

.migh {
    font-family: 'Pacifico', cursive;
    margin-right: 0.5vw;
}

.tea {
    font-family: 'Quicksand',serif;
}

.tag {
    align-items: center;
    text-align: center;
    font-size: 55pt;
    color: #ECBA7F;
    margin-top: 4vh;
    font-family: 'Poppins';
    font-weight: 800;

}

.molo {
    color: #5F3D32;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ECBA7F;
}

.best {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5F3D32;
}

@media screen and (max-width:769px) {
    .title {
        font-size: 40pt;
        margin-top: 10vh;
    }

    .tag {
        font-size: 35pt;
    }

    .navLogo {
        width: 130px;
        margin-left: 1vw;
    }

    .nav {
        margin-top: 2vh;
        margin-right: 1vw;
        padding: 1vw 1vw;
        font-size: 15pt;
    }

    .heroImg {
        background-image: url('images/hero.png');
        background-repeat: no-repeat;
        height: 600px;
        width: auto
    }
}

.bbtImg {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.about1{
    text-align: center;
}

.aboutText1 {
    font-family: 'Quicksand';
    color: #FFEED9;
    font-size: 20pt;
    width: 500px;
    height: auto;
    margin-top: 8vh;

}

@media screen and (max-width:1100px) and (min-width:1000px) {
    .aboutText1 {
        margin-top: 0vh;
        margin-left: 16.5vw;
    }

}
@media screen and (max-width:819px) and (min-width:718px) {
    
    .aboutText1 {
        margin-top: 0vh;
        margin-left: 6vw;
        font-size: 16pt;

    }

}
@media screen and (max-width:426px) {
    .bbtImg {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .aboutText1{
        margin-top: 0vh;
        font-size: 15pt;
    }
    
}



.aboutImg1 {
    margin-left: 16vw;
    flex: 0.5;
}
.about1 {
text-align: center;
}



.divider {
    margin-top: 3vh;
}



.menuHead {
    font-family: 'Poppins';
    font-weight: bold;
    color: #FFEED9;
    margin-top: 10vh;
    text-align: center;
    margin-bottom: none;
    font-size: 35pt;
}

.menu {
    background-color: #FFEED9;
}
.menuRow{
    display: none;
}


@media screen and (max-width:769px) {
    .menuRow{
        display:block;
        display: flex;
        padding-bottom: 3vh;
    }
    .menuLg{
        display:none;
    }
}



